body{
  margin: 0;
}
@font-face {
  font-family: "Pretendar";
  font-weight: normal;
  src: url("./assets//font/PretendardVariable.woff2") format("truetype");
}

body {
  font-family: "Pretendar";
}

div{
  box-sizing: border-box;
}
p{
  margin: 0;
}
a{
  text-decoration: none;
}
a:visited{
  color: transparent;
}